<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="/">CSE Motors</a>
    <a class="account-link" href="#" aria-label="My account">My Account</a>
  </div>
</header>
