<nav class="site-nav" aria-label="Primary">
  <div class="container">
    <ul class="nav-list">
      <li><a href="/" aria-current="page">Home</a></li>
      <li><a href="#">Custom</a></li>
      <li><a href="#">Sedan</a></li>
      <li><a href="#">SUV</a></li>
      <li><a href="#">Truck</a></li>
    </ul>
  </div>
</nav>
